@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #000000; /* Force black */
  margin: 0;
  padding: 0;
  overflow: hidden;
}